.container-fluid-app{
  width: 100%;
  /* background-color: aqua; */
}

.container-app{
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Valor da Largura */
  width: 80%;
  /* background-color: rgb(0, 69, 129); */
}
